@model AktasTech.WebUi.Models.UrunListeleme
@{
    ViewData["Title"] = "Urun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div>

    <div class="row panel pane-default">
        @foreach (var product in Model.Urunlers)
        {
            <div class="col-md-3 text-center">
                <img class="img-fluid img-thumbnail" src="@product.Gorsel" alt="image" />
                <div><h2>@product.UrunAd</h2></div>
                <div>@product.Stok</div>
                <div>@product.Fiyat</div>
                <div>
                    <a class="btn btn-primary" asp-controller="Urunler" asp-action="UrunDetay" asp-route-UrunId="@product.UrunId">İncele</a>
                    <a class="btn btn-success" asp-controller="Sepet" asp-action="SepeteEkleme" asp-route-UrunId="@product.UrunId">Sepete Ekle</a>
                    
                </div>
  
            </div>
        }
    </div>
</div>
